*,
*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    line-height: 1.5;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.path_container{
  position: fixed;
  width: 50%;
  height: 100vh;
  padding: 2rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(4, 4, 50);
}

#transring{
  width: 50%;
  height: 50%;
  border-radius: 50%;
  position: absolute;
  left: 60%;
}

.all_div{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  scroll-snap-type: y mandatory;
}

.container{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -10;
}

.text_container{
  color: #fff;
  z-index: 1000;
  position: relative;
  left: 17rem;
}

.text{
  font-size: 4rem;
}

.para1,.para2{
  font-size: 1.5rem;
}

.para2{
  text-align: end;
}

.extra_container{
  position: absolute;
  bottom: 6rem;
  left: 4rem;
  color: #fff;
}

.extraheading{
  font-size: 3rem;
}

.extrapara{
  font-size: 1.5rem;
}

.mobile-1,.mobile-2,.box{
  position: absolute;
  right: 0;
  width: 200px;
  height: 300px;
}

.box{
  top: -10%;
  right: 43rem;
}

.container-1 .mobile-1{
  width: 220px;
  height: 300px;
  right: 30rem;
  bottom: 0;
}

.container-1 .mobile-2{
  top: 5rem;
  right: 5rem;
  width: 200px;
height: 400px;
}

.container-2 .mobile-1{
  width: 250px;
  height: 300px;
  right: 30rem;
  bottom: 0;
}

.container-2 .mobile-2{
  width: 200px;
  height: 300px;
  right: 5rem;
}

.shop{
  position: absolute;
  top: -20%;
  right: -7rem;
}

.container-4 .mobile-1{
  width: 250px;
  height: 400px;
  right: 30rem;
  bottom: 0;
}

.container-4 .mobile-2{
  width: 200px;
  height: 400px;
  right: 5rem;
}

.container-5 .mobile-1{
  width: 200px;
  height: 400px;
  right: 20rem;
  top: -10%;
}

.container-5 .mobile-2{
  width: 200px;
  height: 400px;
  top: 10rem;
}

.container-5 .mobile-3{
  position: absolute;
  width: 200px;
  height: 400px;
  right: 40rem;
  top: -25%;
}

.container-6 .mobile-1{
  width: 250px;
  height: 450px;
  right: 30rem;
  bottom: -10%;
}

.container-6 .mobile-2{
  width: 300px;
  height: 450px;
  right: 5rem;
  bottom: -5%;
}


.container-7 .mobile-1{
  width: 300px;
  height: 450px;
  right: 30rem;
  bottom: 10%;
}

.container-7 .mobile-2{
  width: 300px;
  height: 450px;
  right: 5rem;
  bottom: 10%;
}

.mob_version{
  display: none;
}

@media screen and (max-width : 900px){
  .lap_version{
    display: none;
  }
  .mob_version{
    display: flex;
  }
  .carousel{
    position: relative;
    width: 100%;
  }
  .carousel_div{
    height: 100vh; 
    background-color: grey;
    display: none;
  }

  .carousel_div_selected{
    display: block;
  }

  .carousel_nav{
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
  }

  .carousel_btn{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    margin : 0 .5rem;
    cursor: pointer;
  }
  .carousel_btn_selected{
    background-color: rgba(255,255,255,0.5);
  }
}